USE [master]
GO
/****** Object:  Database [PIS]    Script Date: 7/15/2026 12:38:58 PM ******/
CREATE DATABASE [PIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Attendance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\Attendance.mdf' , SIZE = 658432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Attendance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\Attendance_log.ldf' , SIZE = 8207104KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIS].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [PIS]
GO
USE [PIS]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 7/15/2026 12:38:58 PM ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MIE\TsehayneshG]    Script Date: 7/15/2026 12:38:58 PM ******/
CREATE USER [MIE\TsehayneshG] FOR LOGIN [MIE\TsehayneshG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MIE\TeameA]    Script Date: 7/15/2026 12:38:58 PM ******/
CREATE USER [MIE\TeameA] FOR LOGIN [MIE\TeameA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_owner] ADD MEMBER [MIE\TeameA]
GO
/****** Object:  Table [dbo].[EmpHistory]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpHistory](
	[PersonID] [char](6) NOT NULL,
	[EffectiveDate] [smalldatetime] NOT NULL,
	[Reason] [varchar](50) NOT NULL,
	[Salary] [smallmoney] NOT NULL,
	[Grade] [varchar](50) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[WorkLoc] [varchar](50) NOT NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[LUpdatedDate] [smalldatetime] NULL,
	[CompanyID] [varchar](50) NULL,
	[EmpType] [varchar](15) NULL,
	[PositionType] [varchar](15) NULL,
	[JobID] [varchar](100) NULL,
	[StepEffDate] [smalldatetime] NOT NULL,
	[NextCarrierDate] [smalldatetime] NULL,
	[NextStepDate] [smalldatetime] NULL,
	[Step] [tinyint] NULL,
 CONSTRAINT [PK_EmpHistory] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[EffectiveDate] ASC,
	[StepEffDate] ASC,
	[Reason] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [varchar](50) NOT NULL,
	[Grade] [varchar](50) NOT NULL,
	[JobTitle] [varchar](100) NULL,
	[JobCategory] [varchar](50) NULL,
	[SalaryMin] [money] NULL,
	[SalaryMax] [money] NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [varchar](15) NULL,
	[Status] [varchar](10) NULL,
	[ClassID] [varchar](50) NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[PersonID] [char](6) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[WorkLoc] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[HiredDate] [smalldatetime] NOT NULL,
	[PositionType] [varchar](15) NULL,
	[TerminatedDate] [smalldatetime] NULL,
	[Salary] [smallmoney] NULL,
	[JobID] [varchar](100) NULL,
	[Grade] [varchar](50) NULL,
	[Sex] [char](1) NULL,
	[EmpType] [varchar](15) NULL,
	[DOB] [smalldatetime] NULL,
	[Address] [varchar](150) NULL,
	[CreatedUser] [varchar](50) NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[SocSecNbr] [varchar](50) NULL,
	[CarrierAllowed] [tinyint] NULL,
	[LUpdatedDate] [smalldatetime] NULL,
	[CompanyID] [varchar](50) NULL,
	[AcademicStatus] [varchar](100) NULL,
	[TerminationReason] [varchar](100) NULL,
	[StepAllowed] [tinyint] NULL,
	[Step] [tinyint] NULL,
	[CreatedDate] [smalldatetime] NULL,
	[LoyaltyAllowed] [tinyint] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CarrierStatus]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CarrierStatus](PersonID,Name,JobTitle,Department,Company,WorkLoc,EffectiveDate,NextCarrierDate,Status,CarrierAllowed)
as
with h as (select *,ROW_NUMBER() OVER(partition by personid order by NextCarrierDate desc) as Latest from EmpHistory) 
select e.PersonID,e.Name,j.JobTitle,e.Department,e.CompanyID,e.WorkLoc,h.EffectiveDate,h.NextCarrierDate,e.Status,e.CarrierAllowed from h,employee as e, Job as J  
where h.PersonID=e.PersonID and j.JobID=e.JobID and h.Latest=1 and h.NextCarrierDate<>''
GO
/****** Object:  View [dbo].[StepStatus]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[StepStatus](PersonID,Name,JobTitle,Department,Company,WorkLoc,StepEffDate,NextStepDate,Status,StepAllowed)
as
with h as (select *,ROW_NUMBER() OVER(partition by personid order by NextStepDate desc) as Latest from EmpHistory) 
select e.PersonID,e.Name,j.JobTitle,e.Department,e.CompanyID,e.WorkLoc,h.StepEffDate,h.NextStepDate,e.Status,e.StepAllowed from h,employee as e, Job as J  
where h.PersonID=e.PersonID and j.JobID=e.JobID and h.Latest=1 and h.NextStepDate<>''

GO
/****** Object:  View [dbo].[ActiveEmployee]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[ActiveEmployee](PersonID,Name,Department,WorkLoc,CompanyID,Salary,HiredDate)
as
select PersonID,Name,Department,WorkLoc,CompanyID,Salary,HiredDate from Employee where Status='Employee'

GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[PersonID] [char](6) NOT NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
	[Date] [smalldatetime] NOT NULL,
	[NbrDays] [decimal](8, 5) NOT NULL,
	[Year] [char](4) NULL,
	[PostedBY] [varchar](50) NULL,
	[Reason] [varchar](50) NULL,
	[ProgramName] [varchar](50) NULL,
	[LeaveBalance] [decimal](4, 1) NULL,
	[BatchNbr] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Status] [varchar](10) NULL,
	[DateUpdate] [smalldatetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[PCName] [varchar](50) NULL,
	[WinUsername] [varchar](50) NULL,
	[PRStatus] [tinyint] NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[HourlyRate] [smallmoney] NULL,
	[Note] [varchar](100) NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[BatchNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmpAttDeduction]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[EmpAttDeduction] (PersonID,Name,TotHours)
as
select PersonID,Name,sum(case when NbrDays>=0 then 8*NbrDays else 0 end) from attendance where status='Posted' and (Reason='Late coming' or Reason='Absent' or Reason='Leave Without Pay') and PRStatus=0
group by PersonID,Name
GO
/****** Object:  Table [dbo].[Penalty]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalty](
	[PersonID] [varchar](50) NOT NULL,
	[EffectiveDate] [smalldatetime] NOT NULL,
	[PenaltyType] [varchar](100) NOT NULL,
	[Duration] [int] NULL,
	[Reason] [varchar](100) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[RefDocNbr] [varchar](50) NULL,
 CONSTRAINT [PK_Penalty] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[EffectiveDate] ASC,
	[PenaltyType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PenaltyStatus]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[PenaltyStatus](PersonID,Name,CompanyID,WorkLoc,Department,PenaltyType,EffectiveDate,Duration,EndDate,"Days Left")
as
select e.PersonID,e.Name,e.CompanyID,e.WorkLoc,e.Department,p.PenaltyType,p.EffectiveDate,p.Duration,DateAdd("d",p.Duration,EffectiveDate) as EndDate,DateDiff("d",GetDate(),DateAdd("d",p.Duration,EffectiveDate)) as 'Days Left' from employee e, Penalty p 
where e.PersonID=p.PersonID and e.Status='Employee'
GO
/****** Object:  View [dbo].[MonthlyPayableWorkedHours]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [dbo].[MonthlyPayableWorkedHours] (PersonID,Name,Salary,HiredDate,TotHours)
as
select e.PersonID,e.Name,e.Salary,e.HiredDate, case when a.TotHours>=0 then a.TotHours else 0 end from ActiveEmployee e left outer join EmpAttDeduction a on e.PersonID=a.PersonID

GO
/****** Object:  View [dbo].[InitialLeave]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[InitialLeave](PersonID,LeaveBalance,NbrDays,InitialBalance)
as
with h as (select *,ROW_NUMBER() OVER(partition by personid order by DateUpdate,Batchnbr asc) as Latest from Attendance
where (Reason='Annual Leave' or Reason='New Year Balance' or ProgramName='Adjustment') and Status='Posted') 
select PersonID,LeaveBalance,NbrDays, LeaveBalance - NbrDays from h
where Latest=1
GO
/****** Object:  View [dbo].[LeaveNetChange]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[LeaveNetChange](PersonID,LeaveNetChange)
as
select PersonID,Sum(NbrDays) from Attendance
where (Reason='Annual Leave' or Reason='New Year Balance' or ProgramName='Adjustment') and Status='Posted' 
group by PersonID
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[PersonID] [char](6) NOT NULL,
	[LeaveBalance] [decimal](4, 1) NULL,
	[LBalanceInc] [decimal](3, 1) NULL,
	[LeaveStartDate] [smalldatetime] NULL,
	[LeaveEndDate] [smalldatetime] NULL,
	[DateBalanceUpdate] [smalldatetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[LUpdatedDate] [smalldatetime] NULL,
	[Released] [tinyint] NULL,
	[LeaveAllowed] [tinyint] NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LeaveIntegrityCheck]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[LeaveIntegrityCheck] (PersonID,LeaveBalance,InitialBalance,LeaveNetChange,Difference)
as
select L.PersonID,L.LeaveBalance,I.InitialBalance,N.LeaveNetChange,I.InitialBalance + N.LeaveNetChange - L.LeaveBalance 
from leave L inner join InitialLeave I on L.PersonID=I.PersonID inner join LeaveNetChange N on L.PersonID=N.PersonID
where (I.InitialBalance + N.LeaveNetChange - L.LeaveBalance)<>0
and L.PersonID in (Select PersonID from Employee where status='Employee')

GO
/****** Object:  Table [dbo].[ShiftDetails]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftDetails](
	[BatchNbr] [int] NOT NULL,
	[SerialNbr] [int] NOT NULL,
	[PersonID] [char](6) NOT NULL,
	[Name] [varchar](50) NULL,
	[LaborRate] [smallmoney] NULL,
	[Amount] [smallmoney] NULL,
	[Shift] [varchar](50) NULL,
	[Date] [datetime] NULL,
	[NbrDays] [decimal](5, 2) NOT NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
	[MaxDuration] [int] NULL,
	[Rate] [money] NULL,
 CONSTRAINT [PK_ShiftDetails] PRIMARY KEY CLUSTERED 
(
	[BatchNbr] ASC,
	[SerialNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ShiftAllowanceBeyondMaxDuration]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[ShiftAllowanceBeyondMaxDuration] (PersonID,BatchNbr,Occurance,TotalDays,MaxDuration,StartDate,EndDate)
as
select PersonID,BatchNbr 'Batch Nbr', count(PersonID) Occurance,Sum(NbrDays) 'Total Days',MaxDuration 'Max Duration',StartDate,EndDate from ShiftDetails
group by BatchNbr,PersonID,MaxDuration,StartDate,EndDate
having MaxDuration is not null
and Sum(NbrDays)>MaxDuration
GO
/****** Object:  Table [dbo].[ContractExt]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractExt](
	[PersonID] [char](6) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[TranDate] [smalldatetime] NULL,
	[RefDocNbr] [varchar](50) NULL,
	[CreatedUser] [varchar](50) NULL,
	[LUpdatedUser] [varchar](50) NULL,
 CONSTRAINT [PK_ContractExt] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ContractStatus]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ContractStatus](PersonID,Name,Department,Company,WorkLoc,EndDate,Status)
as
with e as (select *,ROW_NUMBER() OVER(partition by personid order by StartDate desc) as Latest 
from ContractExt) 
select employee.PersonID,employee.Name,employee.Department,employee.CompanyID,employee.WorkLoc,e.EndDate,employee.Status 
from e,employee  
where e.PersonID=employee.PersonID and e.Latest=1 and Employee.EmpType='Contract'
GO
/****** Object:  View [dbo].[EmpLeave]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[EmpLeave] (PersonID,Name,Salary,Company,Department,WorkLoc,HiredDate,PositionType,status,LeaveBalance,LBalanceInc,LeaveStartDate,TerminatedDate,DateBalanceUpdate,Released,LeaveAllowed)
As
select e.PersonID,e.name,e.Salary,CompanyID,Department,WorkLoc,e.HiredDate,e.PositionType,e.status,l.LeaveBalance,l.LBalanceInc,l.LeaveStartDate,e.TerminatedDate,l.DateBalanceUpdate,l.Released,l.LeaveAllowed from employee as e inner join leave as l  on e.personid=l.personid

GO
/****** Object:  View [dbo].[EmployeeCount]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View [dbo].[EmployeeCount](Company,"Employment Type",Sex,"No Of Employees")
AS
select CompanyID,EmpType,Sex,COUNT(*)
from Employee where Status<>'Ex-Employee'  group by CompanyID, EmpType,Sex 
GO
/****** Object:  View [dbo].[EmployeeCountByDept]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View [dbo].[EmployeeCountByDept](Company,Department,"Employment Type",Sex,"No Of Employees")
AS
select CompanyID,Department,EmpType,Sex,COUNT(*)
from Employee where Status<>'Ex-Employee'  group by CompanyID,Department, EmpType,Sex
GO
/****** Object:  View [dbo].[EmpWithoutContract]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[EmpWithoutContract](PersonID,Name,Department,Company,WorkLoc,HiredDate)
as 
select PersonID,Name,Department,CompanyID,WorkLoc,HiredDate from Employee
where EmpType='Contract' and Status<>'Ex-Employee' and PersonID not in
(select PersonID from ContractExt)
GO
/****** Object:  Table [dbo].[Loyalty]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loyalty](
	[PersonID] [varchar](50) NOT NULL,
	[EffectiveDate] [smalldatetime] NOT NULL,
	[NextLoyaltyDate] [smalldatetime] NULL,
	[PaymentCycle] [varchar](50) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Loyalty] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[EffectiveDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LoyaltyStatus]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[LoyaltyStatus](PersonID,Name,JobTitle,Department,Company,WorkLoc,EffectiveDate,NextLoyaltyDate,PaymentCycle,HiredDate,Status,LoyaltyAllowed)
as
with L as (select *,ROW_NUMBER() OVER(partition by personid order by NextLoyaltyDate desc) as Latest from Loyalty) 
select e.PersonID,e.Name,j.JobTitle,e.Department,e.CompanyID,e.WorkLoc,L.EffectiveDate,L.NextLoyaltyDate,L.PaymentCycle,e.HiredDate,e.Status,e.LoyaltyAllowed from L,employee e, Job J  
where L.PersonID=e.PersonID and j.JobID=e.JobID and L.Latest=1 and L.NextLoyaltyDate<>''

GO
/****** Object:  View [dbo].[GetPreviousSalary]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[GetPreviousSalary](PersonID,OldSalary)
as
with e as (select *,ROW_NUMBER() OVER(partition by personid order by Salary desc) as Latest from EmpHistory) 
select employee.PersonID,e.Salary from e,employee  
where e.PersonID=employee.PersonID and e.Latest=2
GO
/****** Object:  View [dbo].[NewYearUpdateStatus]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[NewYearUpdateStatus](PersonID,Name,Company,HiredDate,LBalanceInc,Offered,NbrIncrement) as
select E.PersonID, E.Name,E.Company,HiredDate,LBalanceInc,SUM(NbrDays) as 'Total Increment',COUNT(*) as NumberOfInc
from EmpLeave as E inner join Attendance as A
on E.PersonID=A.PersonID
and E.Status='Employee'
group by E.PersonID,E.Name,E.Company,HiredDate,LBalanceInc,Reason
having Reason='New Year Balance'
GO
/****** Object:  Table [dbo].[OTMain]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTMain](
	[Reason] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Date] [smalldatetime] NULL,
	[CheckedBy] [varchar](50) NULL,
	[DateUpdated] [smalldatetime] NULL,
	[PostedBy] [varchar](50) NULL,
	[DeptID] [varchar](50) NOT NULL,
	[BatchNbr] [int] IDENTITY(500000,1) NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[ProgramName] [varchar](50) NULL,
	[Released] [tinyint] NULL,
	[DateReleased] [smalldatetime] NULL,
	[ReleasedUser] [varchar](50) NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[CompanyID] [varchar](50) NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTDetails]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTDetails](
	[BatchNbr] [int] NOT NULL,
	[SerialNbr] [int] NOT NULL,
	[PersonID] [char](6) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[OTType] [varchar](50) NOT NULL,
	[Date] [smalldatetime] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Duration] [decimal](4, 2) NOT NULL,
	[LaborRate] [smallmoney] NULL,
	[Amount] [smallmoney] NULL,
	[MaxDuration] [decimal](4, 2) NULL,
	[Rate] [money] NULL,
 CONSTRAINT [PK_OTDetails] PRIMARY KEY CLUSTERED 
(
	[BatchNbr] ASC,
	[SerialNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OTPlusSASummary]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[OTPlusSASummary](BatchNbr,SerialNbr,PersonID,Name,Company,Department,WorkLoc,Date,Amount,OTStatus,Released,DateReleased,EmpStatus) 
as
select M.BatchNbr,D.SerialNbr,E.PersonID,E.Name,E.CompanyID,E.Department,E.WorkLoc,D.Date,D.Amount,M.Status,M.Released,M.DateReleased,E.Status
from   Employee as E,OTDetails as D, OTMain as M
where  D.BatchNbr=M.BatchNbr
and    E.PersonID=D.PersonID 
union
select M.BatchNbr,D.SerialNbr,E.PersonID,E.Name,E.CompanyID,E.Department,E.WorkLoc,M.Date,D.Amount,M.Status,M.Released,M.DateReleased,E.Status
from   Employee as E,ShiftDetails as D, OTMain as M
where  D.BatchNbr=M.BatchNbr
and    E.PersonID=D.PersonID 
GO
/****** Object:  View [dbo].[OTSummary]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[OTSummary](PersonID,Name,Company,Department,WorkLoc,Date,LaborRate,OTType,Duration,Amount,OTStatus,Released,DateReleased,EmpStatus)
as
select E.PersonID,E.Name,E.CompanyID,E.Department,E.WorkLoc,D.Date,D.LaborRate,D.OTType,D.Duration,D.Amount,M.Status,M.Released,M.DateReleased,E.Status
from   Employee as E,OTDetails as D, OTMain as M
where  D.BatchNbr=M.BatchNbr
and    E.PersonID=D.PersonID 

GO
/****** Object:  View [dbo].[ShiftAllowanceSummary]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ShiftAllowanceSummary](PersonID,Name,Company,Department,WorkLoc,Date,Shift,NbrDays,Amount,OTStatus,Released,DateReleased,EmpStatus)
as
select E.PersonID,E.Name,E.CompanyID,E.Department,E.WorkLoc,M.Date,D.Shift,D.NbrDays,D.Amount,M.Status,M.Released,M.DateReleased,E.Status
from   Employee as E,ShiftDetails as D, OTMain as M
where  D.BatchNbr=M.BatchNbr
and    E.PersonID=D.PersonID
GO
/****** Object:  Table [dbo].[EmpLog]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpLog](
	[PersonID] [char](6) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[WorkLoc] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[HiredDate] [smalldatetime] NOT NULL,
	[PositionType] [varchar](50) NOT NULL,
	[TerminatedDate] [smalldatetime] NULL,
	[Salary] [smallmoney] NULL,
	[JobID] [varchar](100) NULL,
	[Grade] [varchar](50) NULL,
	[Sex] [char](1) NULL,
	[EmpType] [varchar](50) NULL,
	[DOB] [smalldatetime] NULL,
	[Address] [varchar](150) NULL,
	[CreatedUser] [varchar](50) NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[SocSecNbr] [varchar](50) NULL,
	[CarrierAllowed] [tinyint] NULL,
	[LUpdatedDate] [smalldatetime] NULL,
	[CompanyID] [varchar](50) NULL,
	[AcademicStatus] [varchar](100) NULL,
	[TerminationReason] [varchar](100) NULL,
	[StepAllowed] [tinyint] NULL,
	[Step] [tinyint] NULL,
	[CreatedDate] [smalldatetime] NULL,
	[LoyaltyAllowed] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeeLog]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[EmployeeLog] ("Employee ID",Name,"Department ID","Work Location",Status,"Hired Date","Position Type","Terminated Date",Salary,"Job ID",Grade,Sex,"Employment Type","Birth Date",Address,SocSecNbr,"Carrier Allowed","Company ID","Academic Status","Termination Reason","Step Allowed",Step,"Created User","Created Date","Updated User","Updated Date")
as
select distinct PersonID,Name,Department,WorkLoc,Status,HiredDate,PositionType,TerminatedDate,Salary,JobID,Grade,Sex,EmpType,DOB,Address,SocSecNbr,CarrierAllowed,CompanyID,AcademicStatus,TerminationReason,StepAllowed,Step,CreatedUser,CreatedDate,LUpdatedUser,LUpdatedDate from EmpLog
GO
/****** Object:  Table [dbo].[Academic]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academic](
	[Academic] [varchar](100) NOT NULL,
	[Status] [varchar](50) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[Category] [varchar](50) NULL,
 CONSTRAINT [PK_Academic] PRIMARY KEY CLUSTERED 
(
	[Academic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allowance]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allowance](
	[PersonID] [char](6) NOT NULL,
	[EarningID] [varchar](50) NOT NULL,
	[Amount] [money] NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[TimeBounded] [tinyint] NULL,
 CONSTRAINT [PK_Allowance] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[EarningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AllowanceLog]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllowanceLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [varchar](50) NULL,
	[EarningID] [varchar](50) NULL,
	[Amount] [money] NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[TimeBounded] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceHistory]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceHistory](
	[PersonID] [char](6) NOT NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
	[Date] [smalldatetime] NOT NULL,
	[NbrDays] [decimal](8, 5) NOT NULL,
	[Year] [char](4) NULL,
	[PostedBY] [varchar](50) NULL,
	[Reason] [varchar](50) NULL,
	[ProgramName] [varchar](50) NULL,
	[LeaveBalance] [decimal](4, 1) NULL,
	[BatchNbr] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Status] [varchar](10) NULL,
	[DateUpdate] [smalldatetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[PCName] [varchar](50) NULL,
	[WinUsername] [varchar](50) NULL,
	[PRStatus] [tinyint] NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[HourlyRate] [smallmoney] NULL,
	[Note] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DelAuthority]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DelAuthority](
	[DelFromUsername] [varchar](50) NOT NULL,
	[DelToUsername] [varchar](50) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[Date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_DelAuthority] PRIMARY KEY CLUSTERED 
(
	[DelFromUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptID] [varchar](50) NOT NULL,
	[Description] [varchar](100) NULL,
	[Account] [varchar](50) NULL,
	[Subaccount] [varchar](50) NULL,
	[ManagerID] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dept]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dept](
	[PersonID] [char](6) NOT NULL,
	[Department] [varchar](50) NULL,
 CONSTRAINT [PK_Dept] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EarningType]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EarningType](
	[EarningID] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[Status] [varchar](15) NULL,
	[CrtdUser] [varchar](15) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](15) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[Taxable] [tinyint] NULL,
 CONSTRAINT [PK_EarningType] PRIMARY KEY CLUSTERED 
(
	[EarningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpBankAcct]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpBankAcct](
	[PersonID] [varchar](50) NOT NULL,
	[BankAcct] [varchar](50) NOT NULL,
	[BankName] [varchar](100) NULL,
	[BranchName] [varchar](50) NULL,
	[CrtdUser] [varchar](15) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](15) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[AltBankAcct] [varchar](50) NULL,
 CONSTRAINT [PK_EmpBankAcct] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[BankAcct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpBankAcctLog]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpBankAcctLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [varchar](50) NULL,
	[BankAcct] [varchar](50) NULL,
	[BankName] [varchar](100) NULL,
	[BranchName] [varchar](50) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[AltBankAcct] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpEval]    Script Date: 7/15/2026 12:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpEval](
	[PersonID] [char](6) NOT NULL,
	[RefYear] [char](4) NOT NULL,
	[AnnualPart] [varchar](50) NOT NULL,
	[BehEval] [decimal](4, 2) NOT NULL,
	[PerEval] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_PerEval] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[RefYear] ASC,
	[AnnualPart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCategory]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCategory](
	[CategoryID] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[Status] [varchar](15) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
 CONSTRAINT [PK_JobCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobClass]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobClass](
	[ClassID] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[Status] [varchar](15) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
 CONSTRAINT [PK_JobClass1] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobGrade]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobGrade](
	[Grade] [varchar](10) NOT NULL,
	[Description] [varchar](100) NULL,
	[SalaryMin] [money] NULL,
	[SalaryMax] [money] NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[Status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LBILog]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LBILog](
	[PersonID] [varchar](50) NULL,
	[LBI] [int] NULL,
	[NewLBI] [int] NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveHistory]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveHistory](
	[PersonID] [varchar](50) NOT NULL,
	[LeaveBalance] [decimal](4, 1) NULL,
	[LBalanceInc] [decimal](3, 1) NULL,
	[LeaveStartDate] [smalldatetime] NULL,
	[LeaveEndDate] [smalldatetime] NULL,
	[DateBalanceUpdate] [smalldatetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[LUpdatedUser] [varchar](50) NULL,
	[LUpdatedDate] [smalldatetime] NULL,
	[Released] [tinyint] NULL,
	[LeaveAllowed] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveSchedule]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveSchedule](
	[PersonID] [char](6) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[NbrDays] [decimal](8, 5) NOT NULL,
 CONSTRAINT [PK_LeaveSchedule] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyLog]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [varchar](50) NOT NULL,
	[EffectiveDate] [smalldatetime] NOT NULL,
	[NextLoyaltyDate] [smalldatetime] NULL,
	[PaymentCycle] [varchar](50) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTRates]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTRates](
	[OTID] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[Status] [varchar](15) NULL,
	[CrtdUser] [varchar](15) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](15) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[Rate] [money] NULL,
	[Category] [varchar](50) NULL,
 CONSTRAINT [PK_OTRates] PRIMARY KEY CLUSTERED 
(
	[OTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PenaltyCodes]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenaltyCodes](
	[PenaltyCode] [varchar](100) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Status] [varchar](15) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
 CONSTRAINT [PK_PenaltyCodes] PRIMARY KEY CLUSTERED 
(
	[PenaltyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reason]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reason](
	[ReasonCode] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Status] [varchar](15) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Reason] PRIMARY KEY CLUSTERED 
(
	[ReasonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setup]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setup](
	[DBName] [varchar](30) NOT NULL,
	[ServerName] [varchar](30) NULL,
	[MasterID] [varchar](30) NULL,
	[MasterPWD] [varchar](100) NULL,
	[DefCpny] [varchar](30) NULL,
	[MaxBI] [tinyint] NULL,
	[NonMgmtMaxBI] [tinyint] NULL,
	[InitialBI] [tinyint] NULL,
	[InitialBal] [int] NULL,
	[MaxBal] [int] NULL,
	[LeaveToExpire] [tinyint] NULL,
	[MinAge] [tinyint] NULL,
	[ProbationPeriod] [int] NULL,
	[StepAllowed] [tinyint] NULL,
	[CarrierAllowed] [tinyint] NULL,
	[CarrierDuration] [int] NULL,
	[StepDuration] [int] NULL,
	[CarrierExtension] [int] NULL,
	[StepExtension] [int] NULL,
	[EnableLBIUpdate] [tinyint] NULL,
	[MinBI] [tinyint] NULL,
	[DisAllowUnderAge] [tinyint] NULL,
	[MonthlyWorkHours] [int] NULL,
	[LoyaltyAllowed] [tinyint] NULL,
	[LoyaltyDuration] [int] NULL,
	[LoyaltyExtension] [int] NULL,
 CONSTRAINT [PK_Setup] PRIMARY KEY CLUSTERED 
(
	[DBName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminationReasons]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminationReasons](
	[ReasonCode] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[Status] [varchar](15) NULL,
 CONSTRAINT [PK_TerminationReasons] PRIMARY KEY CLUSTERED 
(
	[ReasonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[GroupID] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Status] [varchar](50) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](50) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varbinary](50) NOT NULL,
	[GroupID] [varchar](50) NOT NULL,
	[WorkLoc] [varchar](50) NOT NULL,
	[AccessType] [varchar](50) NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[Status] [char](1) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersLog]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varbinary](50) NULL,
	[GroupID] [varchar](50) NULL,
	[WorkLoc] [varchar](50) NULL,
	[AccessType] [varchar](50) NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
	[Status] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkLoc]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkLoc](
	[WorkLoc] [varchar](50) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[PayrollWorkLoc] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
	[Subaccount] [varchar](50) NULL,
	[ManagerID] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[CrtdUser] [varchar](50) NULL,
	[CrtdDate] [smalldatetime] NULL,
	[LUpdUser] [varchar](50) NULL,
	[LUpdDate] [smalldatetime] NULL,
 CONSTRAINT [PK_WorkLoc] PRIMARY KEY CLUSTERED 
(
	[WorkLoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DelAuthority]  WITH CHECK ADD  CONSTRAINT [FK_DelAuthority_Users] FOREIGN KEY([DelFromUsername])
REFERENCES [dbo].[Users] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DelAuthority] CHECK CONSTRAINT [FK_DelAuthority_Users]
GO
ALTER TABLE [dbo].[EmpEval]  WITH CHECK ADD  CONSTRAINT [FK_EmpEval_Employee] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Employee] ([PersonID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmpEval] CHECK CONSTRAINT [FK_EmpEval_Employee]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[UserGroup] ([GroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserGroup]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_WorkLoc] FOREIGN KEY([WorkLoc])
REFERENCES [dbo].[WorkLoc] ([WorkLoc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_WorkLoc]
GO
/****** Object:  StoredProcedure [dbo].[CheckWrongOTType]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[CheckWrongOTType] @StartDate date, @EndDate date
as
select d.BatchNbr,d.PersonID,d.Name,d.OTType,d.Date,d.StartTime,d.EndTime,d.Duration,d.Amount,m.Status from OTDetails d inner join OTMain m
on d.BatchNbr=m.BatchNbr  and ottype not in ('Holiday','Sunday','Night','Normal')
and m.status<>'Cancelled'
and d.date>=@StartDate and d.date<=@EndDate 

GO
/****** Object:  StoredProcedure [dbo].[CheckWrongShiftType]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[CheckWrongShiftType] @StartDate date, @EndDate date
as
select d.BatchNbr,d.PersonID,d.Name,d.Shift,d.Date,d.StartDate,d.EndDate,d.MaxDuration,d.Amount,m.Status from ShiftDetails d inner join OTMain m
on d.BatchNbr=m.BatchNbr  and Shift not in ('First','Second','Third')
and m.status<>'Cancelled'
and d.date>=@StartDate and d.date<=@EndDate 
GO
/****** Object:  StoredProcedure [dbo].[EmpsOutOfOfficeForSA]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EmpsOutOfOfficeForSA] @StartDate date, @EndDate date, @BatchNbr varchar(10)
as
select a.PersonID,a.Name,a.BatchNbr,a.StartDate,a.EndDate,a.Reason,case when a.NbrDays<0 then -1*a.NbrDays else a.NbrDays end as 'No Of Days',a.Status
from Attendance a inner join ShiftDetails d on a.PersonID=d.PersonID
group by a.PersonID,a.Name,a.BatchNbr,a.StartDate,a.EndDate,a.Reason,ProgramName,a.NbrDays,a.Status,d.BatchNbr
having (ProgramName='Absentism' or ProgramName='Leave Request')
and (a.EndDate>=@StartDate and a.StartDate<=@EndDate) 
and d.BatchNbr=@BatchNbr
order by a.PersonID,a.BatchNbr

GO
/****** Object:  StoredProcedure [dbo].[EmpsOutOfWork]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EmpsOutOfWork] @StartDate date, @EndDate date
as
select e.PersonID,e.Name,a.BatchNbr,a.StartDate,a.EndDate,a.Reason,case when a.NbrDays<0 then -1*a.NbrDays else a.NbrDays end as 'No Of Days',e.Department,e.CompanyID,e.Status as 'Employee Status',a.Status as 'Batch Status' 
from Attendance a inner join Employee e on a.PersonID=e.PersonID
where (ProgramName='Absentism' or ProgramName='Leave Request')
and a.Reason<>'FIELD WORK'
and (a.Status='Posted' or a.Status='completed')
and (a.EndDate>=@StartDate and a.StartDate<=@EndDate) 
order by e.PersonID,a.BatchNbr

GO
/****** Object:  StoredProcedure [dbo].[EmpWithOTDuplicates]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EmpWithOTDuplicates] @StartDate date, @EndDate date
as
select e.PersonID,e.Name,j.JobTitle,e.Department,e.workloc,e.CompanyID 
from employee e inner join Job j on e.JobID=j.JobID and e.PersonID in(
select d.PersonID from OTMain m inner join OTDetails d on m.BatchNbr=d.BatchNbr 
and (m.Status='Hold' or m.Status='Released' or m.Status='Posted' or m.Status='completed')
and d.date>=@StartDate and d.date<=@EndDate
GROUP BY d.PersonID,d.Date,d.StartTime 
having count(*)>=2)
GO
/****** Object:  StoredProcedure [dbo].[EmpWithOTDuplicatesFull]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[EmpWithOTDuplicatesFull] @StartDate date, @EndDate date
as
select e.PersonID,e.Name,j.JobTitle,e.Department,e.workloc,e.CompanyID 
from employee e inner join Job j on e.JobID=j.JobID and e.PersonID in(
select d.PersonID from OTMain m inner join OTDetails d on m.BatchNbr=d.BatchNbr 
and (m.Status='Hold' or m.Status='Released' or m.Status='Posted' or m.Status='completed')
and d.date>=@StartDate and d.date<=@EndDate
GROUP BY d.PersonID,d.Date
having count(*)>=2)
GO
/****** Object:  StoredProcedure [dbo].[NonWorkingHrsOT]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[NonWorkingHrsOT] @StartDate date, @EndDate date
as
select d.Batchnbr,d.Date,d.OTType,m.Status,Count(*) as 'No of Occurance' from OTDetails d inner join OTMain m 
on d.BatchNbr=m.BatchNbr
where (d.OTType='Holiday' or d.OTType='Sunday') and m.Status<>'Cancelled'
and d.date>=@StartDate and d.date<=@EndDate 
group by d.Batchnbr,d.OTType,d.Date,m.Status
order by d.Date,d.Batchnbr,d.OTType
GO
/****** Object:  StoredProcedure [dbo].[OTDuplicates]    Script Date: 7/15/2026 12:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[OTDuplicates] @StartDate date, @EndDate date, @PersonID as Varchar(50)
as
select d.PersonID,d.BatchNbr,d.date,d.OTType,d.StartTime,d.EndTime,d.Duration,m.Status
from OTDetails d inner join OTMain m on m.BatchNbr=d.BatchNbr 
and (m.Status='Hold' or m.Status='Released' or m.Status='Posted' or m.Status='completed')
and d.date>=@StartDate and d.date<=@EndDate and d.PersonID=@PersonID and d.date in (
select d.date from OTDetails d inner join OTMain m on d.BatchNbr=m.BatchNbr
where m.Status<>'Cancelled' and m.Status<>'Void'
GROUP BY PersonID,d.Date
having d.date>=@StartDate and d.date<=@EndDate and PersonID=@PersonID
and count(*)>=2 )
GO
USE [master]
GO
