html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
@media print{
    .print-wrap{
        flex-wrap:wrap;
    }
    .print-dark{
        background-color: black;
        color:white;
    }
    .print-full-width{
        width:100%;
        max-width:100%;
    }
    table, thead, tbody, th,td{
        width:auto;
    }
}
table select{
    max-width:100px;
}